# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Deploy to Stage

on:
  push:
    branches: [ master, staging* ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm run test:unit

  staging-lite:
    needs: build
    name: Deploy to staging lite
    environment:
      name: staging
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      # It was failing when we change the following to lines to use npm run
      - run: yarn deploy:lite:stage --token ${{ secrets.FIREBASE_TOKEN }}

  staging-full:
    needs: build
    name: Deploy to staging full
    environment:
      name: staging
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      # It was failing when we change the following to lines to use npm run
      - run: yarn deploy:full:stage --token ${{ secrets.FIREBASE_TOKEN }}

  prod-lite:
    needs: staging-lite
    name: Deploy to production lite
    environment:
      name: production
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      # It was failing when we change the following to lines to use npm run
      - run: yarn deploy:lite:stage --token ${{ secrets.FIREBASE_TOKEN }}